<h1>物件登録</h1>
<%= render "form" %>

  <%#= f.fields_for stations do |i| %>
    <%#= i.label :路線名 %>
    <%#= i.text_field :line %>
    <%#= i.label :駅名 %>
    <%#= i.text_field :name %>
    <%#= i.label :徒歩分数 %>
    <%#= i.number_field :foot %>
  <%# end %>
